doctype html
html
    head
        title Time Series Data Storing Project
    body
        block content
        br
        hr
        footer
            p Copyright &copy; 2018 <br>Reserved by Snow28
