extends layout

block content
    h1 Login
    form(method='POST', action='/login').login
        input(name='username',type='text', placeholder='Username')
        br
        input(name='password',type='password', placeholder='Password')
        br
        input(type='submit',value='Submit').submit
