.content-wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  background-color: #252525;
  padding-bottom: 150px; }

a {
  text-decoration: none; }

.content {
  min-height: 50%; }

.white {
  color: white; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: black;
  color: #ffc20e; }
  .nav .logo {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav .logo p {
      margin-left: 20px;
      border-left: 1px solid #ffc20e;
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      font-weight: 500; }
  .nav .logreg {
    display: flex;
    font-weight: 500; }
    .nav .logreg a {
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      height: 30px;
      margin-right: 50px;
      cursor: pointer; }
      .nav .logreg a:first-child {
        color: white;
        border: 2px solid white; }
        .nav .logreg a:first-child:hover {
          background-color: white;
          color: black; }
      .nav .logreg a:last-child {
        background-color: #ffc20e;
        color: white;
        border: 2px solid #ffc20e; }
        .nav .logreg a:last-child:hover {
          color: black; }
  .nav-pages {
    width: 100%;
    text-align: center;
    color: white;
    height: 40px;
    background-color: black;
    border-top: 2px solid #ffc20e;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav-pages a {
      color: white; }
      .nav-pages a:hover {
        color: #ffc20e; }

footer {
  background-color: black;
  width: 100%;
  height: 150px;
  color: #ffc20e;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  left: 0; }
  footer a:hover {
    color: #ffc20e; }

.register, .login {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto; }
  .register .submit, .login .submit {
    cursor: pointer;
    border: 2px solid #ffc20e;
    width: 100px;
    margin: auto;
    border-radius: 30px;
    height: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffc20e; }
    .register .submit:hover, .login .submit:hover {
      background-color: #ffc20e;
      color: black; }
  .register input, .login input {
    margin-bottom: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-bottom: 1px solid white;
    padding: 4px; }
    .register input::placeholder, .login input::placeholder {
      color: white; }
    .register input:focus, .login input:focus {
      outline: none; }

.not-registered {
  color: #ffc20e !important;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  pointer-events: none; }

.data {
  padding-top: 30px; }
  .data-header {
    color: #ffc20e;
    display: flex; }
    .data-header P {
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase; }
      .data-header P:first-child {
        width: 10%;
        text-align: center; }
      .data-header P:nth-child(2) {
        color: white;
        width: 20%; }
      .data-header P:last-child {
        width: 60%;
        margin-left: 10%; }
  .data-item {
    color: #ffc20e;
    display: flex; }
    .data-item P:first-child {
      width: 10%;
      text-align: center; }
    .data-item P:nth-child(2) {
      color: white;
      width: 20%;
      font-weight: 500; }
    .data-item P:nth-child(3) {
      width: 30%;
      margin-left: 10%;
      font-size: 10px; }
    .data-item a {
      width: 30%;
      text-align: center;
      color: red;
      cursor: pointer; }
      .data-item a:hover {
        text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
